*{
	background: #D0B262;
	font-family: 'Montserrat', sans-serif;
}

h1{
	color: #3D24BE;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin: 50px auto 50px;
	opacity: 0.7;
}

ul h2{
	font-weight: bold;
	font-size: 20px;
	margin: 100px auto 40px;
}

ul{
	margin: 100px auto 40px;
	text-align: center;
}

ul li{
	text-decoration:none;
	margin-bottom: 10px
}

a{
	text-decoration: none;
	color: #050505;
}

a:hover{
	color: white;
	cursor: ;
}

footer{
	margin: 20px auto 40px;
	text-align: center;
	font-weight: bold;
}

footer a{
	opacity: 0.9;
	color: #E12A7C;
}

.listaInicial{
	list-style-type: none;
}

@media screen and (max-width: 480px){
	header{
		font-size: 40px;
		text-align: center;
	}
	
	.listaInicial{
		font-size: 20px;
	}

	.listaInicial > h2{
		font-size: 22px;
	}

	footer{
	font-size: 15px;
	margin: 25px 0 0 50px;
	text-align: center;
	}
}